<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="title-box-before-login">
        <h1 class="px-3 mx-auto">
          カレンダー機能を使ったスケジュール管理アプリです。</br>
          一覧や検索機能、目標設定機能が付いています。</br>
          現状をカレンダーで整理して、空き時間を見つけて目標を立てるのに便利です。
        </h1>
      </div>
    </div>
  </div>
</main>