<main>
  <!--成功時のメッセージ　ここから-->
  <% if flash[:notice] %>
    <div class="text-success">
      <p id="notice">
        <%= flash[:notice] %>
      </p>
    </div>
  <% end %>
  <!--成功時のメッセージ　ここまで-->
  <div class="container">
    <div class="row">
      <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
        <div class="title-box-before-login">
          <h1><strong>スケジュール管理帳</strong></h1>
          <p>お気軽にご利用下さい！</p>
          <div class="btn-wrapper col-10 mx-auto">
            <div class="row">
              <%= link_to "Log in", "/customers/sign_in", class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
            </div>
            <div class="row">
              <%= link_to "Sign Up", "/customers/sign_up", class: "btn btn-success btn-sm btn-block sign_up" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>