<!--成功時のメッセージ-->
<% if flash[:notice] %>
  <div class="text-success">
    <p id="notice">
      <%= flash[:notice] %>
    </p>
  </div>
<% end %>

<!--エラー時のメッセージ-->
<% if goal.errors.any? %>
  <div id="error_explanation",class="text-danger">
    <h2><%= pluralize(goal.errors.count, "error") %> prohibited this obj from being saved:</h2>
    <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>