<h2 class = "mb-1">新規目標</h2>
<!-- form_with部分 -->
<%= form_with model:goal, local:true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :goal_title, class:"mb-1" %>

  <h4>Detail</h4>
  <%= f.text_area :goal_description, class:"mb-1" %>

  <!--<h4>目標月</h4>-->
  <%#= f.date_select :goal_month, {use_month_numbers:true, discard_day:true}, class:"mb-1" %>

  <%= f.submit '作成する', class:"btn btn-sm btn-success mb-1" %>
<% end %>